#page-container {
	margin: auto;
	width: 1350px;
}
.column {
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px;
}
h2 {
	border-bottom: 2px solid #ddd;
	width: 90%;
	margin: auto;
}
#left-column {
	float: left;
	background-color: #f2f2f2;
	width: 300px;
	height: 100%;
	border: 1px solid #ddd;
}

#center-column {
	background-color: #f2f2f2;
	width: 700px;
	margin: auto;
	min-height: 600px;
}

#right-column {
	float: right;
	background-color: #f2f2f2;
	width: 300px;
	height: 100%;
	min-height: 250px;
	border: 1px solid #ddd;
}
#rightlower-column{

}

/*CSS for creating posts*/
#make-post-container {
	margin: 2%;
	height: 100px;
	width: 670px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px;
}

#upper-column {

	height: 60px;
}

#upper-column img {
    max-height: 35px;
    border: 1px solid #ddd;
    float: left;
    margin: 2px;
}


.post-text {
	float: left;
	margin-top: 7px;
}
.post-text textarea {
	   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
	width: 500px;
	height: 50px;
	vertical-align: center;
	border-style: none;
	resize: none;
	font-size: 20px;
}
textarea:focus{
	outline: 0;
}
.post-text input{
	float: right;
	margin-top: 7px;
    padding: 10px;
    background-color: #6b7c8c;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.post-text input:hover{
	background-color: #9eb2c5;
	transition: .5s;
}

#lower-column {
	height: 40px;
	width: 660px;
	margin: auto;
	border-top: 2px solid #ddd;
}
#lower-column input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#lower-column label{
	margin-top: 8px;
	cursor: pointer;
	font-size: 13px;
    font-weight: 700;
    color: #6b7c8c;
    display: inline-block;
}

/*CSS for Post items*/
#post-item {
	margin: 2%;
	height: 100%;
	width: 670px;
	overflow: hidden;
	background-color: white;
	border: 1px solid #ddd;
	text-align: left;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px;
	float: left;
}
.post-pro-pic{
	float: left;
	max-height: 35px;
	border: 1px solid #ddd;
}
#post-info {
	float: left;
	margin-left: 5px;
}
#post-info a{
	color: #6b7c8c;
	font-weight: 900;
}
#top-post {
	margin: 1%;
	height: 50px;
}
#bottom-post {
	margin: 0 1%;
	font-size: 20px;
	border-bottom: solid 2px #ddd;
	padding-bottom: 5px;
}
.post-image {
	width: 100%;
}

/*CSS for posting comments*/
#post-comment-container {
	min-height: 37px;
	background-color: #f2f2f2;
	float: left;
	padding: 1%;
	width: 100%;
}
#post-comment-container img {
	width: 37px;
	float: left;
}
.post-comment {

}
.post-comment textarea {
	   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
	width: 540px;
	vertical-align: center;
	resize: none;
	margin-left: 5px;
}
.post-comment input {
	float: right;
	height: 36px;
	padding: 7px;
	background-color: #6b7c8c;
	border: 0;
	color: #fff;
	cursor: pointer;
	transition: .5s;
}

/*CSS for populated comments*/
#comment-container {
	margin-top: 10px;
	background-color: #f2f2f2;
	border-top: 2px solid #ddd;
}
#comment {
	height: 50px;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
#comment-text a {
	margin-left: 2%;
}



/*CSS for slideshow (stock for now)*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 5% 5% 0 5%;
}
.slideshow-container img {
	height: 150px;
	width: 100%;
	border-radius: 3px;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
	background-color: rgba(0, 0, 0, 0.16);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#like img {
	height: 25px;

}
#like {
	margin: 5px;
}
.fc-myCustomButton-button{

}

.fc .fc-toolbar>*>*{
	float: none !important;
	margin-left: 0 !important;
}
.fc-center {
	width: 70%;
}

.fc .fc-toolbar>*>:first-child {
	margin-left: 0;
}

.fc-center h2 {
	width: initial;
	border: none;
}
.fc-scroller {
	height: auto !important;
}

.fc-event-container {
	cursor: pointer;
}
.fc-event {
	border: none !important;
	background-color: initial !important;
	color: #000 !important;
}
.fc {
	text-align: center !important;
}

tr:first-child>td>.fc-day-grid-event{
	margin-top: -3px !important;
}

#add-event {
	width: 500px;
	height: 550px;
	margin: auto;
	margin-top: 100px;
	padding-top: 15px;
	background-color: #f2f2f2;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px;

}

#add-event-container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.42);

}


-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #00000;
  border-radius: 10px;
}
#style-4::-webkit-scrollbar-thumb {
	background-color: #000000;
	border: 2px solid #555555;
}
