#vehicle-item {
	max-width: 85%;
	margin: 0 auto;
	background-color: #f2f2f2;
	margin-bottom: 1%;
	height: 120px;
}

#vehicle-item a {

}

#vehicle-item img{
	float: left;
}

#options {
	float: right;
	line-height: 50px;
	text-align: center;
	padding-right: 1%;
}
#title{ 
	float: left;
	line-height: 100px;
	text-align: center;
	font-size: 20px;
	text-align: center;
	width: 75%;
}
.delete {
	color: red;
}