body {
	background-color: #f2f2f2;
}

#page-wrapper {
	width: 1320px;
	margin: auto;
}

input:hover {
	background-color: #9e9e9e; 
}
a{
	text-decoration: none;
}
.column {
	margin: auto;
	padding: 0;
	background-color: #f2f2f2;
	min-height: 500px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px;
}
#column1 {
	width: 275px;
	height: 100%;
	min-height: 0px;
	float: left;
	margin-left: 19px;
}
#column2 {
	width: 700px;
	min-height: 700px;
}
#column3 {
	width: 275px;
	float: right;
	margin-right: 19px;
}
#column4 {
	width: 15%;
	min-height: 200px;
	float: left;
	margin-top: 26px;
}
.propic-page {
	margin: 5%;
	border-bottom: 2px solid #ddd;
	border-radius: 5px;
}
#user-data a {
	display: inline-block;
	margin: 2.5%;
}

#follow-button {
    width: 75%;
    padding: 15px;
    background-color: #6b7c8c;
    border: 0;
    color: #ffffff;
    margin: 2% 0;
    border-radius: 5px;
}

.followed {
	background-color: #66e674;
	content: "Followed! ✔";
}

.followed span{
	display: none;
}

#vehicle-item {
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 1%;
}

#vehicle-item img {
	height: 50px;
	float: left;
}

#container h2 {
	border-bottom: 2px solid #ddd;
	margin: 0 5%;
	color: #808080;
}
.post-text {
	float: left;
	margin-top: 2.3%;
	margin-left:  .5%;
}
.post-text textarea {
	   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
	width: 500px;
	height: 50px;
	vertical-align: center;
	border-style: none;
}

#lower-column {
	height: 20%;
	width: 95.5%;
	margin-left: 4.5%;
	float: left;
}
#lower-column img {
	height: 100%;
	float: left;
	margin-right: 20px;
}
/*CSS for Post items*/
#post-item {
	margin: 2%;
	height: 100%;
	overflow: hidden;
	background-color: white;
	border: 1px solid #ddd;
	text-align: left;
}
.post-pro-pic{
	float: left;
	max-height: 35px;
	border: 1px solid #ddd;
}
#post-info {
	float: left;
}
#top-post {
	margin: 1%;
	height: 50px;
	border-bottom: 2px solid #ddd;
}
#bottom-post {
		margin: 0 1%;
}
.post-image {
	width: 100%;
}

/*CSS for posting comments*/
#post-comment-container {
	min-height: 37px;
	background-color: white;
	float: left;
	padding: 1%;
	width: 98%;
}
#post-comment-container img {
	width: 37px;
	float: left;
}
.post-comment {
	float: right;
	border: none;
}
.post-comment textarea {
	   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
	width: 550px;
	vertical-align: center;
}

/*CSS for populated comments*/
#comment-container {
	
}
#comment {
	height: 37px;
	margin: 1%;
	border-bottom: 1px solid #ddd;
}
#comment-text a {
	margin-left: 2%;
}
