#container {
	width: 1050px;
	margin: auto;
}
#leftside {
	margin-left: 1%;
	float: left;
	width: 275px;
	background-color: #fff;
	height: 100%;
	border-radius: 3px;
	border: 1px solid #ddd;
}
#rightside {
	width: 750px;
	margin-right: auto;
	min-height: 600px;
	background-color: #fff;
	float: right;
	border-radius: 3px;
	border: 1px solid #ddd;
}
.row {
	background-color: #ffffff;
	min-height: 50px;
	margin: 1%;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.row h2 {
	line-height: 50px;
}
.expand {
	float: left;
	height: 15px;
	
}
.data {
	display: none;
}

.side-data {
	display: inline-block;
	vertical-align: top;
	width: 24%;

}
.side-data h2 {
	font-size: 15px !important;
	text-decoration: underline;
}
#photo-data {
	min-height: 100px;
}
#video-data {
	min-height: 100px;
}
.photos-inrow {
	height: 100px;
}